/* OKLCH Design System - Root */
@import url('theme/theme.css');
@import url('typography/typo.css');
@import url('layout/grid.css');
@import url('components/button.css');
@import url('components/button-group.css');
@import url('components/card.css');
@import url('components/carousel.css');
@import url('components/alert.css');
@import url('components/navigation.css');
@import url('components/form.css');
@import url('components/accordion.css');
@import url('components/dropdown.css');
@import url('components/list.css');
@import url('components/badge.css');
@import url('components/footer.css');
@import url('components/modal.css');
@import url('components/tabs.css');
@import url('components/table.css');
@import url('components/tooltip.css');
@import url('components/palette.css');
